albumentations==1.1.0
future==0.18.2
jupyterlab==2.1.4
pandas==1.0.4
scikit-learn==0.23.2
tensorboard~=2.4.0
torch~=1.10.0
torchvision==0.4.0
tqdm==4.46.1
hydra-core==1.1.1
flake8==3.8.3
numpy==1.19.2
seaborn==0.10.1